.card {
  background-color: #5e5e5e;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 1rem;
}

.card-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 16px 0px;
}

.ticket-body {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.ticket-body div {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.card-detail {
  font-size: 14px;
  font-style: italic;
  margin: 0px;
}
