#ticketRoot {
  width: 100vh;
  display: flex;
  flex-direction: column;
}

#ticketBody {
  display: grid;
  grid-template-areas:
    "description stateDepartment"
    "CreatedBy UpdatedBy"
    "Observations Observations";
  grid-template-columns: 1fr 0.4fr;
  grid-column-gap: 30px;
}
